<ion-header>

  <ion-navbar>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons *ngIf="showHome" start>
      <button ion-button icon-only (click)="navHomePage();">
        <ion-icon name='home'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons *ngIf="data" end>
      <button ion-button icon-only (click)="toggleFavorite();">
        <ion-icon [name]="favoriteStatusIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="data" class="page-data" [innerHTML]="data"></div>
  <ion-list *ngIf="items">
    <button ion-item *ngFor="let item of items" (click)="descend(item)">
      {{ item.title }}
    </button>
  </ion-list>
  <button (click)="logObject()" ion-button>Log</button>

</ion-content>
