page-tree-content {
  /*.page-data {
    font-size: 1.4rem;
  }*/

  p {
    margin: 0px;
  }

  .ql-align-center {}

  /* #quillHTML /deep/ .ql-font-serif */
  .ql-font-serif {
    font-family: serif;
  }
  
  .ql-font-monospace {
    font-family: monospace;
  }
}
